@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.about {
    @include generalAlignment();
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.aboutInner {
    //background: lightsalmon;
}

.aboutDescription{
    background-color: lightgray;
    text-align: justify;
    padding: 1rem 3rem 1rem 3rem;
}
.team {
   // background-color: lightgoldenrodyellow;
}


.teamInner {
    background-color: lightgreen;
    display: block;
    flex-wrap: wrap; 
    align-content: center;
}

.profileWrapper{
    display:flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2.5rem;
}

.profilePicture {
    background-color: lightcoral;
    height: 20vh;
    width: 20vh;
}

.profileBio {
    background: lightgreen;
    height: 20vh;
    width: 60%;
}