@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';


.find{
    @include generalAlignment();
    text-align: center;
}

.findInner{
    background-color: aquamarine;
    display: relative;
}

.findWrapper{
    background-color: lightgrey;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content:center;
    align-content:flex-start;
}

.findPicture{
    background-color: lightblue;
    height: 20vh;
    width: 20vh;
}
.sponsorBio{
    background-color: lightcoral;
    height: 20vh;
    width: 60%;
}
