@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';


.button{
    //background-color: lightblue;
}
.buttonInner{
    height: 100px;
    margin-top: 3rem;
}

.buttonStyle{
    text-decoration: none;
    border-radius: $border-radius-rounded;
    padding: 0.75rem 2rem;
    font-family: $font-primary;
    font-size: $font-s;
    border: 0px;
    text-transform: uppercase;
    color: $color-white;
    background-color: #047eaf;// $color-primary;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    &:hover, &:focus {
        background-color: #91f3f8;//$color-primary-darker;
        transition: 0.25s ease all;
    }
}