@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';


.analyze{
    @include generalAlignment();
    min-height: 40vh;
}

.analyzeInner{
    display: relative;
}

.analyzeWrapper{
    background-color: lightgreen;
    display:flex;
    min-width: 60vh;
    justify-content: center;
    align-content: center;
}

.worksheetWrapper{
    background-color: lightgoldenrodyellow;
    position: relative;
    height: 500px;
}

.worksheet{
    background-color: lightgray;
    height: 450px;
    width: 400px
}

.worksheetButton{
  position: absolute;
  bottom: 0;
  left:0;

    text-decoration: none;
    border-radius: $border-radius-rounded;
    padding: 0.75rem 2rem;
    font-family: $font-primary;
    font-size: $font-s;
    border: 0px;
    text-transform: uppercase;
    color: $color-white;
    background-color: #047eaf;// $color-primary;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    &:hover, &:focus {
        background-color: #91f3f8;//$color-primary-darker;
        transition: 0.25s ease all;
        }

    margin-left: 120px;
}

.analyzeText{
    display: relative;
    background-color: lightcyan;
    height: 500px;
    width: 400px;
    font-size: $font-xxs;
    text-align: center;
    padding: 2rem;
}
.buttomInner{
    height: 100px;
    margin-top: 3rem;
}

.buttomButton{
    text-decoration: none;
    border-radius: $border-radius-rounded;
    padding: 0.75rem 2rem;
    font-family: $font-primary;
    font-size: $font-s;
    border: 0px;
    text-transform: uppercase;
    color: $color-white;
    background-color: #047eaf;// $color-primary;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    &:hover, &:focus {
        background-color: #91f3f8;//$color-primary-darker;
        transition: 0.25s ease all;
    }
}