@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';


.dashboard{
    @include generalAlignment();
}

.dashboardInner{
    background-color: aquamarine;
    display: relative;
}

.dashboardWrapper{
    background-color: lightgrey;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block;
    justify-content:left;
    align-content:flex-start;
}

.dashboardPicture{
    background-color: lightblue;
    height: 20vh;
    width: 20vh;
}
.dashboardBio{
    background-color: lightcoral;
    height: 20vh;
    width: 60%;
}
