@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';


.journey{
    @include generalAlignment();
    text-align: center;
}

.currentPage{
    background-color: lightgreen;
    margin-top: 3rem;
    height:  80vh;
}

.pageInner{
    background-color: lightgrey;
    height: 300px;
}