@import '~theme/base/mediaqueries';
// This class makes the elements have a max-width in certain resolutions
// Use this to create a visual grid in a page. 
// So, all the elements will be contained in 992px, 1200px, ...
// Giving them then a perfect alignment with the rest of the page

@mixin generalAlignment() {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    
    @include respond-to(tablet) {
        max-width: 800px;
    }

    @include respond-to(desktop) {
        max-width: 1200px;
    }

    @include respond-to(ultrawide) {
        max-width: 1400px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}