@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.titleInner {
    //background-color: aliceblue;
}

.title {
    font-family: $font-secondary;
    font-size: $font-xxl;
    border-bottom: 1px solid $color-grey-light;
}