@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.home{
   @include generalAlignment();
   position: relative;
   min-height: 60vh;
}

.homeInner{
    background: greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.homeContentWrapper{
    background-color: lightcoral;
    border-radius: 3%;
    padding: 2.5rem;
    height: 550px;
    width: 520px;

    @include respond-to(tablet){
        height: 40%;
    }
}
.homeContentTitle {
    color: $color-white;
    font-family: $font-secondary;
    font-size: $font-xxxl;
    font-weight: $font-bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.125;
    margin: 2rem;

}

.homeContentSubtext {
    color: $color-white;
    font-family: $font-primary;
    font-size: $font-l;
    font-weight: $font-thin;
    margin: 0 0 2rem 0;
    margin: 2rem;
}

.homeButton {
    text-decoration: none;
    border-radius: $border-radius-rounded;
    padding: 0.75rem 2rem;
    font-family: $font-primary;
    font-size: $font-s;
    border: 0px;
    text-transform: uppercase;
    color: $color-white;
    background-color: #047eaf;// $color-primary;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    &:hover, &:focus {
        background-color: #91f3f8;//$color-primary-darker;
        transition: 0.25s ease all;
    }
}

.homeVideoContainer {
    background-color: aqua;
    @include respond-to(desktop){
        margin: auto;
        padding: 20px;
        height: 360px;
        width: 640px;
    }
}


.mainContent{
    text-align: center;
}

.overviewWrapper{
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}