@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.progressInner{
    background-color: lightgoldenrodyellow;
    width: auto;
}
.progressWrapper{
    background-color: lightgreen;
    display: inline-flex;
    width: auto;
}
