@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.section {
    @include generalAlignment();
}

.sectionInner {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    margin-top: 15vh;

    @include respond-to(tablet){
        max-height: 70vh;
        margin-top: 5vh;
    }
}

.header {
    border-radius: 20px;
    background-color: lightcyan;
}    

.title {
    color: $color-grey-dark;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-size: $font-xl;

}
.description {
    color: $color-grey-dark;
    font-size: $font-s;
    font-family: $font-primary;
    line-height: 1.5;
    padding: 3rem;
    text-align: justify;
    text-align-last: right;
}