@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.bubble{
    //margin: 1rem;
};

.bubbleInner{
    background-color:green;
    width: 150px;
}

.bubbleWrapper{
    background-color: lightblue;
}

.bubbleTitle{
    //background-color: lightcoral;
}

.bubbleNum{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin:auto;
    border-radius: 70%;
    background-color: lightgray;
    background-blend-mode: lighten;
    font-size: 50px;
    height: 100px;
    width: 100px;
}