@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.goals{
    @include generalAlignment();
    text-align: center;
}

.goalInner{
    background-color: aquamarine;
    display: relative;
}

.goalWrapper{
    background-color: lightgrey;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content:center;
    align-content:flex-start;
}

.goalPicture{
    background-color: lightblue;
    height: 20vh;
    width: 20vh;
}
.goalBio{
    background-color: lightcoral;
    height: 20vh;
    width: 60%;
}
